# Maven
target/

# Eclipse
.project
.classpath
.factorypath
.settings/
bin/

# Logs
*.log

# Environment Variables
.env

# OS
.DS_Store
Thumbs.db


current-deployment.yaml

argocd-secret-patch.json

cfn-template.json

nodegroup-template.json